

@font-face {
    font-family: "Gotham Bold";
    src: url("../fonts/Gotham-Bold.otf");
}

@font-face {
    font-family: "Gotham Book";
    src: url("../fonts/GothamBook.ttf");
}




body{
    background:url(../img/fondo.jpg) center #000000;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-size: 1rem;
    
}

.azul{
    color:#43a9fc;
}

.amarillo{
    color: #d2ae2c;
}

.datos {
    font-family: "Gotham Book";
    padding: 5px 0;
}

.text-left{
    text-align: left !important;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-justify{
    text-align: justify;
}

.col_center{
    margin-left: auto;
    margin-right: auto;
}

.mb_80{
margin-bottom: 80px;
}

.espacio{
    padding-top: 100px;
    padding-bottom: 100px;
}

.subt{
    font-size: 1rem;
}

.cabecera{
    background: #000;
    border-bottom:2px solid #43a9fe;
    padding-top: 10px;
    padding-bottom: 10px;
}

.controls{
    margin-bottom: 80px;
}

.combos{
    margin-bottom: 20px;
}
.tit_2{
    font-size: 1.3rem;
    font-family: "Gotham Bold";
    margin-bottom: 15px;
    margin-top: 10px;
    min-height: 52px;
    padding: 5px 10px;
    text-align: right;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #fff;
    padding-top: 12%;
    font-family: "Gotham Bold";
}

.nav-link:hover {
    color: #43a9fd;
    text-decoration: underline;
}

.alinear_logo{
    padding-top: 8%;
    display: inline-block;
}


.logos{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #01101c;
}

.prefooter{
    background: #000;
}
.datos p{
    font-size: .8rem;
}

.datos h1 {
    font-size: 1.3rem;
    font-family: "Gotham Bold";
    margin-bottom: 15px;
    margin-top: 10px;
    min-height: 65px;
    padding: 5px 10px;
}

.horario{
    font-size: 1.2rem !important;
    margin-top: 25px;
}

.caracteristicas{
    margin-top: 20px;
}


.subtit{
    font-family: "Gotham Bold";
    display: block;
    margin-top: 5px;
}

.botoncito{
    background: #43a9fd;
    color: #fff;
    display: inline-block;
    padding: 7px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    border-radius: 25px;
    margin: 10px 10px 10px 0;
    font-size: .8rem;
}

.botoncito_2 {
    background: #43a9fd;
    color: #fff;
    display: inline-block;
    padding: 7px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    border-radius: 50px;
    margin: 10px 10px 10px 0;
    font-size: .9rem;
    text-align: center;
}

.line_der{
    border-right: 1px solid #1f2f3e;
}

.bajada{
    font-size: .8rem;
    font-weight: 300;
}

.btn_filtro{
    background: #091f31;
    color: #fff;
    display: inline-block;
    padding: 7px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    border-radius: 25px;
    margin: 10px 10px 10px 0;
    font-size: .8rem;

    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -ms-transition: all .7s ease;
}

.btn_filtro:hover{
    background: #43a9fd;;
    color: #fff;

    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
    transform: scale(1.10);
}

.btn_activado{
    background: #43a9fd;
    border-radius: 25px;
    color: #fff;
    padding: 7px 30px;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
}






.btn-group, .btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: block;
    vertical-align: middle;
    /* padding: 10px; */
}

.btn-danger{
    color: #43a9fd;
    background-color: #dc354500;
    border: 2px solid #43a9fd;
    font-family: Arial;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    padding: 7px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-secondary {
    color: #6c757d;
    background-color:transparent;
    border: 2px solid #6c757d;
    font-family: Arial;
    border-radius: 30px;
    text-align: center;
    padding: 7px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    background: #010f1bfa;
    font-family: "Gotham Book";
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #ebe9ef14;
}

/**/

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 0;
    border-radius: .25rem;
}

.card-header {
    padding: 0;
    margin-bottom: 0;
    background-color: rgb(0 0 0 / 0%);
    border: 0;
    text-align: center;
    
}

.btn-link {
    font-weight: 400;
    color: #43a9fd;
    background-color: transparent;
    border: 2px solid #43a9fd;
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 30px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-link:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #c82333;
    border: 2px solid #bd2130;
}

.btn_compra{
    display: block;
    text-align: center;
    padding: 10px;
    color: #fff;
    background: #43a9fd;
    padding: 20px 10px 10px;
    border-radius: 20px;
    font-size: 15px;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 10px;

    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
}

.btn_compra:hover{
    background: #d22f2f;
    text-decoration: none;
    color: #fff;
}

.btn-link.focus, .btn-link:focus {
    text-decoration: none;
    border: 2px solid #bd2130;
    box-shadow: none;
}

.btn-link::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}


/**/


.prefooter a {
    color: #ffffff;
  }

  .prefooter a:hover {
    color: #43a9fd;
  }
  
  
  
  .prefooter .fa_social {
    height: 35px;
    width: 35px;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    font-size: 30px;
    transition: all 0.2s;
  }
  
  .prefooter .fa_social:hover {
    color: #43a9fd;
    /* background-color: #D03456; */
    text-decoration: none;
  }
  
  .prefooter {
  }
  


/*filtro categorias*/


#Container .mix {
    display: none;
  }
  .project-cards-container {
    padding: 2% 2% 0;
    text-align: justify;
    font-size: 0.1px;
    background: #68b8c4;
    -webkit-backface-visibility: hidden;
  }
  .project-cards-container:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  .project-cards-container .mix,
  .project-cards-container .gap {
    display: inline-block;
    width: 49%;
  }
  .project-cards-container .mix {
    text-align: left;
    background: #03899c;
    margin-bottom: 2%;
    display: none;
  }
  .project-cards-container .mix .category-1 {
    border-top: 2px solid limegreen;
  }
  .project-cards-container .mix .category-2 {
    border-top: 2px solid yellow;
  }
  .project-cards-container .mix:after {
    content: attr(data-myorder);
    color: white;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding: 4% 6%;
    font-weight: 700;
  }
  .project-cards-container .mix:before {
    content: '';
    display: inline-block;
    padding-top: 60%;
  }
  @media all and (min-width: 420px) {
    .project-cards-container .mix,
    .project-cards-container .gap {
      width: 32%;
    }
  }
  @media all and (min-width: 640px) {
    .project-cards-container .mix,
    .project-cards-container .gap {
      width: 23.5%;
    }
  }

  /*filtro categorias*/












@media only screen and (max-width:1367px) {
  
}


@media only screen and (max-width:1200px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (max-width: 992px) {

}


@media only screen and (max-width:800px) {


}

@media only screen and (max-width:768px) {


    .prefooter h5 {
        margin-top: 34px;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width:575px) {

    .img-fluid {
        margin-top: 20px;
    }

    .controls {
        margin-bottom: 10px;
    }

    .btn_filtro {
        padding: 7px 20px;
        margin: 10px 10px 10px 0;
        font-size: .7rem;

    }

    .btn_activado {
        font-size: .7rem;
    }

    .h1, h1 {
        margin-bottom: 23px;
    }

    .espacio {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .datos h1 {
        min-height: auto;
        text-align: center;
    }

    .alinear_logo {
        padding-top: 1%;
    }

    .prefooter {
        background: #000;
        text-align: center;
    }

    

    .prefooter ul{
        list-style: none;
        padding: 0;
    }
  
}

@media only screen and (max-width:480px) {


}


@media only screen and (max-width:320px) {

}