

.pt-nav {
  min-height: 55px;
  padding: 10px 0;
  color: white;
}

.pt-nav.dark {
  background-color: #000;
}



#main{
  background: url('https://cdn.teleticket.com.pe/tlk_imagenes/tlk_repositorio/background-alianza-2-.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;

}



.footer a {
  color: #F9B7B7;
}



.footer .fa_social {
  background-color: white;
  height: 22px;
  width: 22px;
  color: #292929;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
  transition: all 0.2s;
}

.footer .fa_social:hover {
  color: white;
  background-color: #D03456    ;
  text-decoration: none;
}

.footer {
  background: #080808;
  color: #f0f0f0;
  font-size: .9em;
  padding: 25px 0;
  width: 100%;
}





.btn-confiteria{
  color: black;
  background-color: #00e07c !important;
  border: 2px solid #00e07c;
  font-family: Arial;
  border-radius: 30px;
  text-align: center;
  padding: 7px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 800;
}






@media only screen and (max-width:1367px) {
  
}


@media only screen and (max-width:1200px) {

}

@media only screen and (min-width: 992px) {
  .whatsapp {
      display: none;
  }
}

@media only screen and (max-width: 992px) {
 
  .brand{
    display: none;
  }

  .pt-nav .social img {
    height: 23px;
  }

}


@media only screen and (max-width:800px) {


}

@media only screen and (max-width:768px) {

}

@media only screen and (max-width:575px) {
  
}

@media only screen and (max-width:480px) {

}


@media only screen and (max-width:320px) {

}